In [2]:
import pandas as pd
import numpy as np

In [17]:
temp = pd.read_csv('./zero_imputation_experiments/imputation_results.csv')
temp2 = pd.read_csv('./zero_imputation_experiments/results_backup_2.csv')
temp3 = pd.read_csv('./zero_imputation_experiments/scvi_imputation_results.csv')
concated = pd.concat([temp2, temp]).reset_index(drop=True)
temp3

    dataset method       roc  iteration
0         1   scvi  0.480743          0
1         1   scvi  0.461104          1
2         1   scvi  0.480090          2
3         1   scvi  0.487242          3
4         1   scvi  0.496528          4
5         1   scvi  0.513700          5
6         1   scvi  0.524611          6
7         1   scvi  0.494632          7
8         2   scvi  0.508431          0
9         2   scvi  0.508038          1
10        2   scvi  0.503214          2
11        2   scvi  0.517803          3
12        2   scvi  0.513471          4
13        2   scvi  0.492606          5
14        2   scvi  0.508139          6
15        2   scvi  0.484299          7
16        3   scvi  0.502548          0
17        3   scvi  0.513539          1
18        3   scvi  0.501243          2
19        3   scvi  0.501473          3
20        3   scvi  0.490631          4
21        3   scvi  0.494749          5
22        3   scvi  0.495273          6
23        3   scvi  0.500438          7

In [8]:
concated.groupby('DS').agg(['mean', 'std'])

    iter               Clean               Noisy              SAUCIE  \
    mean       std      mean       std      mean       std      mean
DS
1   14.5  8.803408  0.684620  0.005336  0.478155  0.003272  0.524185
2   14.5  8.803408  0.805793  0.002916  0.443933  0.002857  0.438681
3    3.0  2.160247  0.824939  0.003378  0.454718  0.002717  0.480762

               scScope           DeepImpute           MAGIC t=7
         std      mean       std       mean       std      mean       std
DS
1   0.021827  0.490627  0.051061   0.530250  0.006187  0.471583  0.005655
2   0.016264  0.464039  0.026666   0.502030  0.005358  0.489292  0.002080
3   0.012504  0.478163  0.023898   0.411399  0.002847  0.503600  0.002680

In [18]:
temp3[['dataset', 'roc']].groupby('dataset').agg(['mean', 'std'])

              roc
             mean       std
dataset
1        0.492331  0.020024
2        0.504500  0.011018
3        0.499987  0.006881

In [22]:
concated.to_csv('./zero_imputation_experiments/final_results.csv')